<html>
  <head>
    <title>Toap - artillery.io http recorder</title>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="css/material-icon-fonts.css" >
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/ribbons.css">
    <style>
      .row {
        margin-bottom: 10px;
      }
      [type="checkbox"]+label {
          font-size: 0.8rem;
      }
      .btn:hover {
        background-color: #42a5f5;
    }
  </style>
  </head>
  <body>
    <div id="app">
    <!-- Navbar goes here -->
    <!-- Page Layout here -->
      <div class="row">
        <div class="col s12 m4 l2">
          <!-- This is the Title of page -->
          <div class="row">
            <div class="col s11 blue lighten-1">
              <center><h4 class="white-text">{{title}}
            </h4></center>
              <h6><center class="white-text">artillery.io Web Recorder<center></h6>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10">
              <input v-model="urlToRecord" id="urlToRecord" type="url" :disabled="topeProxyStatus.length > 0" class="validate">
              <label data-error="not a valid url" for="urlToRecord" class="cyan-text">URL To Record *</label>
            </div>
          </div>
          <div class="row">
            <div class="col s10">
              <input type="checkbox" class="filled-in blue lighten-1" id="recordThinkTime" value="recordThinkTime" v-model="recordThinkTime" :disabled="topeProxyStatus.length > 0">
              <label for="recordThinkTime">Record Think Time</label>
            </div>
            <div class="col s10">
            <p></p>
                <input type="checkbox" class="filled-in" id="recordHeaders" value="recordHeaders" v-model="recordHeaders" :disabled="topeProxyStatus.length > 0">
                <label class="small" for="recordHeaders">Record Headers</label>
            </div>

          <div class="row">
            <div class="input-field col s10">
               <input v-model="fileName" id="fileName" type="text" :disabled="topeProxyStatus.length > 0" class="validate">
               <label for="fileName" class="cyan-text">Save To File *</label>
            </div>

            <!-- Browser Window switch -->
            <div class="row">
                <div class="switch col s10">
                    <label>Open New Browser Window</label>
                     <label>
                       Off
                       <input type="checkbox" v-model="newWindow" :disabled="topeProxyStatus.length > 0">
                       <span class="lever"></span>
                       On
                     </label>
                 </div>
                 <p><br></p><p></p>
                 <div class="col s10 truncate" v-if='newWindow && proxyURL[0]' style="padding-top: 15px">
                     <a href="{{proxyURL[0]}}" target="_blank">{{urlToRecord}}</a>
                 </div>
            </div>

            <div v-if="topeProxyStatus.length > 0" class="input-field col s9">
              <input v-model="comments" id="comments" type="text" :disabled="!proxyURL[0]">
              <label for="comments">Add Comments</label>
              <small class=resize-note>add comments to flow &#10548;</small>
            </div>
            <div v-if="comments && topeProxyStatus.length > 0" class="col s1" style="padding-top: 25;">
              <a class="btn-floating btn-tiny waves-effect waves-light blue" v-on:click="addComments()" :disabled="!comments">
                <i class="material-icons large">add</i>
              </a>
            </div>
          </div>

          </div>

          <!-- Start Server -->
          <div class="row">
            <button :disabled="!urlToRecord || !fileName" v-if='topeProxyStatus.length === 0' type="button" class="btn btn-primary blue lighten-1 col s10 waves-effect {{startTopeButton}}" v-on:click="startPorxyServer()"
              <a class="waves-effect waves-light btn">
                <i class="material-icons right">cloud</i>
                Start {{title}}</a>
            </button>
            <button v-if='topeProxyStatus.length > 0' type="button" class="btn btn-primary red lighten-1 waves-effect col s10" v-on:click="stopProxyServer()" :disabled="!proxyURL[0]"
              <a class="waves-effect waves-light btn">
                <i class="material-icons right">cloud</i>
                Stop {{title}}</a>
            </button>
          </div>

          <div class="row" v-if='downloadFlowFile.length > 0' v-for="file in downloadFlowFile">
            <div class="divider s4"></div><p></p>
            <a class="btn btn-primary blue lighten-1 col s10 waves-effect truncate" href="/flow/{{file}}.json" download
            @click="downloadFlow()" <a class="waves-effect waves-light btn">
              <i class="material-icons right">file_download</i>
              Flow - {{file}}</a>
            </a>
          </div>

        </div>

        <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->
              <!-- Teal page content
                    This content will be:
                9-columns-wide on large screens,
                8-columns-wide on medium screens,
                12-columns-wide on small screens  -->
          <div class="ribbon right green" style="z-index:10">
            <a href="https://github.com/rupeshmore/toap">Star &starf; me on GitHub</a>
          </div>

          <ul class="collection" v-if='proxyURL.length > 0 && !newWindow'>
              <head>
                <!--<meta http-Equiv="Cache-Control" Content="no-cache" />
                <meta http-Equiv="Pragma" Content="no-cache" />
                <meta http-Equiv="Expires" Content="0" />-->
              </head>
              <body style="margin:0px;padding:0px;overflow:hidden">
                <iframe :src="proxyURL[0]" frameborder="0" style="overflow:hidden;height:100%;width:100%;display:block;" height="100%" width="100%"></iframe>
              </body>
          </ul>
          <ul class="collection" v-else>
            <div class="container">
              <h2 class="header center blue-text">{{title}} (तोप)</h2>
              <div class="row center">
                <h6 class="header col s12 bold"><a href="https://artillery.io/">Artillery.io</a> http(s) recorder based on node.js</h6>
              </div>
                <h5 class="header center col s12 light orange-text">This iframe will be replaced by proxy url defined at left.</h5>
                <br><br>
              <div class="row">
                <div class="col s6">
                    <ul>
                      <li class="collection-header"><h5>Features</h5></li>
                      <li><span class="green-text">✓</span> Calculate Think Time between requests.<li>
                      <li><span class="green-text">✓</span> Configure to record think time and headers.<li>
                      <li><span class="green-text">✓</span> Add comments to the script.<li>
                      <li><span class="green-text">✓</span> Download the JSON flow file at any point in time.<li>
                    </ul>
                </div>
                <div class="col s6">
                    <ul>
                      <li class="collection-header"><h5>Getting Started</h5></li>
                      <li><span>•</span> Enter the Url To Record. (Should start with 'http://' )</li>
                      <li><span>•</span> Enter the File Name to save to.</li>
                      <li><span>•</span> Configure to record think-time or headers.</li>
                      <li><span>•</span> Click Start {{title}} Button to start recording.</li>
                      <li><span>•</span> Once recording has started add comments to the script.</li>
                      <li><span>•</span> Download script using the download button.</li>
                    </ul>
                </div>
              </div>
              <br><br>
              <p class="light center">Note: websites with 'X-Frame-Options' set to 'SAMEORIGIN' will not display in this page due to iframe restrictions.<br>Set the 'Open New Browser Window' to record requests.</p>
              <br>
              <p class="center">By Test Developer, for developers and testers</p>
            </div>
          </ul>

          <!-- Modal Structure -->
          <div id="topeRunning" class="modal">
            <div class="modal-content">
              <h4>Toap is Up & Running.</h4>
              <p class="light">Toap was started from another browser or the Toap cache was cleared.</p>
              <p class="light">All the Toap settings in this browser are disabled.</p>
              <p class="light">Close Toap in the browser from where it was started or restart the node service.</p>
            </div>
            <div class="modal-footer">
              <a class="modal-action modal-close btn">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/vueApp.js"></script>
    <script>
      $(document).ready(function() {
        Materialize.updateTextFields();
      });
      $(".button-collapse").sideNav();
    </script>
  </body>
<html>
